<%= form_for(@fight) do |f| %>
  <% if @fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% @fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :attacker %><br>
    <%= f.collection_select :attacker_id, User.all, :id, :username %>
  </div>
  <div class="field">
    <%= f.label :defender %><br>
    <%= f.collection_select :defender_id, User.all, :id, :username %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <table align="center" width="60%">
  <capitation align="right"><h1>Stelle eine Flotte zum Angriff zusammen:</h1><capitation>
    <tr>
      <th><h2>Einheitenname</h2></th>
      <th><h2>Verfügbar</h2></th>
      <th><h2>Entsenden</h2></th>
    </tr>
   <% @units.each do |unit| %>
    <tr>
      <td><%=unit.name%></td>
      <td>10</td>
      <td>send</td>
    </tr>
   <%end %>
   </table>

<% end %>
